<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, width=device-width,maximum-scale=1">
  <title></title>
</head>
<body>
<div style="padding: 20;text-align:justify; font-size: 14;color: #333;">
  <p class="p1"><span class="s1">授权服务协议</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">本协议是您（以下简称为“用户”、“您”）与树读（上海）信息科技有限公司（下称“树读”、“我们”）及树读关联公司之间就“个人信息授权”相关事宜所订立的协议，具体被授权方如下：</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">l&nbsp; 树读（上海）信息科技有限公司</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">为表述之便利，下文中“树读”、“我方”即指代上述全部被授权方。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p2"><span class="s1">&nbsp;</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">------------------前言------------------</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">出于遵守国家法律法规的规定以及向您提供服务并提升服务质量的目的，树读将按照本协议条款收集、使用您的个人信息，若您同意本协议并按此向树读提供/授权树读抓取本协议中列明的信息，您可使用更多的服务，和（或）享受更便捷的客户服务，并且可以避免树读无法及时与您取得联系而产生对您不利的影响等。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">&nbsp; &nbsp; 树读尊重并保护所有使用树读服务用户的个人隐私，树读收集信息的范围仅限于树读认为了解用户的需求和开展业务所必需的相关资料，以给用户提供更准确、更有个性化的服务。本协议包含了树读收集、存储、保护、使用和共享您的个人信息的条款，我们建议您完整地阅读本协议条款，特别是以下划线、加粗等方式标注与您的权益存在或可能存在重大关系的部分，以帮助您了解维护自己隐私权的方式。您点击"同意并继续"按钮后，即表示您已同意我们按照本协议来合法使用和保护您的个人信息。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p2"><span class="s1">&nbsp;</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">第1条&nbsp; &nbsp; 信息收集</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">用户在此不可撤销地同意并授权树读收集以下个人信息：</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">1)在用户注册树读账号时，用户根据树读要求提供个人注册信息，包括但不限于姓名、性别、身份证号码、住址、联系方式等；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">2)在用户使用树读产品服务，或访问树读产品时，树读自动接收并记录的用户的浏览器和计算机上的信息，包括但不限于用户的宽带类型、IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及用户需求的网页记录等数据；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">3)用户使用树读产品时进行绑定银行卡、导入账单等操作所提供的邮箱、网银、电商、通讯运营商等相关资料，具体如下：</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">A. 邮箱相关资料：帐号信息、发件人、主题、所在文件夹，根据关键字在用户“收件箱”、“已发送”、“群邮件”内邮件进行匹配，包括银行电子账单的全部信息、数据等；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">B. 网银相关资料：包括但不限于身份证号、客户号、用户名、卡片信息等；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">C. 电商平台相关资料：账号信息、实名认证状态、交易记录相关信息（包括但不限于交易时间、交易内容、收货人姓名、收货人固话/手机、收货人地址）等；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">D．支付宝相关资料：账号信息、开户时间、绑定手机号（前3后4位）、交易记录相关信息（包括但不限于交易时间、交易描述（业务名、或商品名）、交易内容、交易对方户名（对方淘宝号、或姓名、或其它）、付款银行）、关联信用卡相关信息（包括但不限于持卡人姓名、发卡行、储蓄卡/信用卡卡号后四位、是否开通快捷支付）等；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">E. 第三方平台信用消费相关资料：蚂蚁花呗使用情况及还款记录、京东白条使用情况及还款记录等；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">F. 通讯运营商基础资料：登记姓名、手机号码、归属省份、话费余额、套餐信息（部分）、账单信息、开户日期（部分）、本地通讯录，包括姓名、电话号码、公司（如有）、电子邮件（如有）、地址（如有）、个人资料（如有）、备注（如有）；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">G. 通讯运营商其他相关资料：通话记录相关信息（包括但不限于通话发生时间、通话发生地、主叫/被叫、通话对方号码、通话时长（秒）、本地漫游长途属性）、短信记录相关信息（包括但不限于服务类型、短信发送/接受时间、对方号码）等；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">H. 公积金相关资料：账号信息、公积金缴存情况等；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">I. 水电煤户主信息：水/电/煤、城市、收费机构、户名、户号、每月提醒日（部分）；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">J. 微博相关资料：关注的好友、微博昵称等；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">K. 微信相关资料：用户头像、用户昵称等；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">L. 其他经用户明确授权的相关资料，如用户于其他第三方平台的账户信息、交易记录等；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">4) 在用户使用树读提供的贷款相关业务时，树读将通过用户提供的征信账户名信息向依法设立的征信机构查询用户的相关信用信息，包括但不限于任何信用分、信用报告、能够联系到用户的实体地址、电子邮件地址、电话号码；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">5) 树读为了更好地单独或与商业伙伴合作为用户提供服务，经用户授权通过合法途径从商业伙伴处获取的其他用户个人信息。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">6) 树读不会采集用户的宗教信仰、基因、指纹、血型、疾病和病史信息以及法律、行政法规规定禁止采集的其他个人信息。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p2"><span class="s1">&nbsp;</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">第2条&nbsp; &nbsp; 除外信息</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">用户了解并同意，以下信息不适用本条款：</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">1)用户在使用树读提供的搜索服务时输入的关键字信息；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">2) 树读收集到的用户在树读发布的有关信息数据，包括但不限于参与活动、成交信息及评价详情；3)用户违反法律规定或违反树读规则的行为及树读已对用户采取的措施。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p2"><span class="s1">&nbsp;</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">第3条&nbsp; &nbsp; 信息使用</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">树读将以高度的勤勉、审慎义务对待用户个人信息，用户不可撤销地授权并同意树读将收集到的用户信息用于以下用途：</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">1) 将信息进行整合和处理，以便更好地为用户提供服务，并依此对树读服务进行改进；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">2) 比较信息的准确性并与第三方进行验证，例如，将用户向我们提交的身份信息与身份验证的服务机构进行验证；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">3) 为服务用户的目的，树读可能通过使用用户的个人信息，向用户提供用户感兴趣的通知、营销活动及其他商业性电子信息；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">4) 经用户明确同意并授权的其他用途；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">5) 除本协议明确阐述和相关法律规定外，树读不会向任何无关第三方提供、出售、出租、分享或交易用户的个人信息；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">6) 树读亦不允许任何第三方以任何手段收集、编辑、出售或者传播用户的个人信息。任何树读用户如从事上述活动，一经发现，树读有权立即终止与该用户的服务协议。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p2"><span class="s1">&nbsp;</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">第4条&nbsp; &nbsp; 信息保护</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">树读致力于取得和维护用户对我们的信任，因此树读会使用商业上合理的技术和其他措施，防止用户的个人信息的丢失和被盗用，并每年至少一次对个人信息的保护情况进行自查，记录自查情况，及时消除自查中发现的安全隐患。为尽可能地保护用户的个人信息安全，树读提请用户注意：</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">1) 树读账号均有安全保护功能，请妥善保管用户的用户名及密码信息。树读将通过对用户密码进行加密等安全措施确保用户的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请用户注意在信息网络上不存在“完善的安全措施”，用户信息仍存在丢失 、被盗用的可能，非因树读过错发生上述情况，树读不承担任何责任。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">2)&nbsp; 在使用树读服务进行网上交易时，用户不可避免地要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式或者邮政地址。请用户妥善保护自己的个人信息，仅在必要的情形下向他人提供。如用户发现自己的个人信息泄密，尤其是树读用户名及密码发生泄露，请用户立即联络树读客服，以便树读采取相应措施。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">第5条&nbsp; &nbsp; 信息披露</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">树读将对用户提供的信息严格保密，除具备下列情形之一外，不会向任何外部机构披露：</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">1)&nbsp; 经过用户事先同意而披露，即在获得用户同意的情况下，树读才会对外披露用户的个人信息；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">2)&nbsp; 应法律法规或公权力部门要求而披露，即树读可能会根据法院、政府部门、上级监管机构等执法机构或法律法规的要求向其披露用户的个人信息；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">3)&nbsp; 当树读涉及合并、收购或资产出售等重大交易时，树读有权依据交易的需要将用户信息提供给交易相对方及交易各方聘请的各中介机构(包括但不限于律师、会计师等)，会在任何个人信息进行转让或受其他隐私权政策约束之前，继续确保其保密性并对受到影响方进行及时通知。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">4) 保护树读和其他方利益，即树读可能会为了保护树读自身，树读员工和客户、树读合作伙伴和其他公众的合法权利、利益和安全而披露用户的个人信息。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">5) 建立信用体系，用户同意并授权树读向依法设立的第三方征信机构提交用户在贷款业务中产生的相关信息，包括个人基本信息、借贷交易信息、反映个人信用的其他信息，记录在征信机构建设的个人信用信息数据库中。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">用户同意并授权树读将用户的不良信息发送征信机构且不再另行通知。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p2"><span class="s1">&nbsp;</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">第6条 &nbsp; &nbsp; 第三方说明</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">为了更好地为用户提供服务，树读会展示商业伙伴等第三方网站链接和信息，当用户查看第三方创建的网页或使用第三方开发的应用程序时，请务必注意这些第三方主体拥有不同于树读的信息保护政策。树读会尽商业上的合理努力去要求该第三方对用户的个人信息采取保护措施，但树读无法保证该第三方一定会按照树读的要求采取保护措施，亦不对该第三方的行为及后果承担任何责任。如果用户发现这些第三方创建的网页或第三方开发的应用程序存在风险时，建议用户终止相关操作以保护自身的合法权益。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p2"><span class="s1">&nbsp;</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">第7条&nbsp; &nbsp; 信息存储和交换</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">树读收集的有关用户的信息和资料将保存在树读的服务器上，这些信息和资料可能传送至用户所在国家、地区或树读收集信息和资料所在地的境外并在境外被访问、存储和展示。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p2"><span class="s1">&nbsp;</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">第8条&nbsp; &nbsp; Cookies的使用</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">1)&nbsp; 在用户未拒绝接受cookies的情况下，树读会在用户的客户端设定或取用cookies，以便用户能登录或使用依赖于cookies的树读服务或功能。树读使用cookies可为用户提供更加周到的个性化服务，包括推广服务。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">2)&nbsp; 用户有权选择接受或拒绝接受cookies。用户可以通过修改设置的方式拒绝接受cookies。但如果用户选择拒绝接受cookies，则用户可能无法登录或使用依赖于cookies的树读网络服务或功能。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">3)&nbsp; 通过树读所设cookies所取得的有关信息，将适用本条款。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p2"><span class="s1">&nbsp;</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">第9条&nbsp; &nbsp; 条款更新及用户关注义务</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">1) 用户在此确认知悉并同意，树读有权依据国家法律法规及运营需求对本协议条款不时地进行修改。树读如更新本协议相关条款，将采用在网页公告、App推送或其他方式通知用户该等修改、增加或删减的内容，以便用户随时了解树读对用户个人信息资料的收集和使用方法。一经公告，即视为上述内容已经通知到用户。若用户在本协议及各类规则变更后继续使用树读服务的，视为用户已仔细认真阅读、充分理解并同意接受修改后的协议条款及各类规则。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">2) 用户有义务不时关注并阅读最新版的协议及网站公告、App推送通知等。如用户不同意更新后的协议，可以且应立即停止接受树读依据本协议提供的服务。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p2"><span class="s1">&nbsp;</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">第10条&nbsp; 法律管辖和适用</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。若用户和树读就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，用户在此完全同意将纠纷或争议提交树读所在地之杭州市西湖区人民法院管辖。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p2"><span class="s1">&nbsp;</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">第11条&nbsp; 其他</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">1) 树读仅在用户接受本协议条款并依此提供个人信息且授权树读按照上述条款的规定获取用户信息的基础上提供服务，部分个人信息提供需要配合用户“绑定银行卡”、“添加相关账号”的操作进行，如用户不同意本协议条款或不同意进行相应操作，则用户将无法使用树读全部服务或相应部分服务；</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">2)如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">3)用户如需更正所提供的个人信息，或希望停止接受树读提供的服务，或对本协议有任何疑问，请通过以下途径联系树读处理：</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">A.&nbsp; 官方客服QQ群: 78022359</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">B. 新浪微博：@账单日应用</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">C. 微信公众号：好认信、卡神进化论</span></p>
  <p class="p2"><span class="s1"></span></p>
  <p class="p1"><span class="s1">树读会尽最大努力在合理时间内回复您。</span></p>
</div>
</body>
</html>
